<head>
        <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
        <script src="/static/scripts/wallace.js" type="text/javascript"> </script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/wallace.css" type="text/css">
</head>

<div class="main_div">


    <h1>Instructions</h1>

    <hr>

    <p>In the beginning you will receive feedback regarding your success. The actual result is marked in <font color="green"> <b> green </b></font> and your response (the position within the bar of <font color="magenta"> your click</font>) is marked in <font color="black"> <b>white</b></font>.</p>

    <p align="center">
        <img class="example_image" src="/static/images/instruct2.png"/>
    </p>

    <hr>

    <div>
        <div class="row">
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary btn-lg" onClick="allow_exit();go_to_page('instructions/instruct-1');">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary btn-lg" onClick="allow_exit();go_to_page('instructions/instruct-3');">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
